[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
openpyxl = "*"
sas7bdat = "*"
h5py = "*"
scipy = "*"
sqlalchemy = "*"
xlrd = "*"
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.13"
